.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  margin-top: 80px;
}
.input {
  margin-top: 80px;
  background-color: white;
  width: 15%;
  height: 30px;
  border: none;
}
